@import '../../../ColorTheme/color.scss';

.CompThumbnailLayout {
    .GridCardContainer{

        .thumbnailContent{
            background-color: #cccccc; /* Used if the image is unavailable */
            height: 250px; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            .thumbnailContentText{
                color: $folio-color-main;
                font-size: 15px;
                font-weight: bold;
            }
            .gridCardContents{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $folio-color-corePrimary;
                span{
                    margin-left: 10px;
                    a{
                        color: $folio-color-main
                    }
                }
            }
        }
    }
}