.Dashboard { 
    background-color: rgb(30, 30, 40);

.hamburger{
    display: flex;
    justify-content: space-between;
    
}
.hamburger:first-child {
    margin-left: 10px;
    margin-top: 55px;
}


.ShowNavStats{
    display: none;
}

.mainComponent{
    background: linear-gradient(180deg, rgba(108,97,97,0.8) 1%, rgba(30,30,40,0.9123456) 100%,  ), url('../../public/images/bg.jpeg');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 150px;
    // opacity: 0.3;
}

.homeComponent{
    height: calc(100vh - 65px);
    width: 100vw;
    opacity: 1;
    z-index: 99999;
    overflow: auto;
}

@media (min-width: 600px) and (max-width: 856px){
    .Ellipse{
        display: block;
        text-align: end;
    }
    .ShowNavStats{
        display: none;
    }
}
@media (min-width: 600px){
    .hamburger{
        display: flex;
        justify-content: flex-end;
        
    }
    
}

@media (min-width: 857px){
    .ShowNavStats{
        display: block;
    }
    
    
}
}
hr {
    margin-top: 15px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    background: #8c8c8e;
    width: 255px;
}

