.Footer {
  background: #3a3f48;
    position: absolute;
    width: 100%;
    bottom: 64px;
    display: flex;

    
    a {
      flex-grow: 1;
      text-align: center;
      height: 30px;
      line-height: 30px;
      position: relative;
      color: #818896;
    }
    
     a .notification {
      position: absolute;
      top: 0;
    }
}

@media (max-width: 600px) { 
  .Footer {
      bottom: 55px;
    
  }
  
}

